<div class="card">
  <!--begin::Card body-->
  <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading$ | async"></span>
  <div class="card-body border-top p-9">
    <div class="row mb-6">
      <div class="col-4">
        <label
          class="btn btn-outline btn-outline-dashed btn-outline-default d-flex"
          ngClass="{'active': type_categorie == 1}"
          data-kt-button="true"
        >
          <span
            class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1"
          >
            <input
              type="radio"
              class="form-check-input"
              name="usage"
              value="1"
              checked="checked"
              (click)="changeTypeCategorie(1)"
            />
          </span>
          <span class="ms-5">
            <span class="fs-6 fw-bolder mb-1 d-block">Departamento</span>
            <small>Primer Nivel</small>
          </span>
        </label>
      </div>
      <div class="col-4">
        <label
          class="btn btn-outline btn-outline-dashed btn-outline-default d-flex"
          ngClass="{'active':type_categorie == 2}"
          data-kt-button="true"
        >
          <span
            class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1"
          >
            <input
              type="radio"
              class="form-check-input"
              name="usage"
              value="2"
              (click)="changeTypeCategorie(2)"
            />
          </span>
          <span class="ms-5">
            <span class="fs-6 fw-bolder mb-1 d-block">Categoria</span>
            <small>Segundo nivel</small>
          </span>
        </label>
      </div>
      <div class="col-4">
        <label
          class="btn btn-outline btn-outline-dashed btn-outline-default d-flex"
          ngClass="{'active':type_categorie == 3}"
          data-kt-button="true"
        >
          <span
            class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1"
          >
            <input
              type="radio"
              class="form-check-input"
              name="usage"
              value="3"
              (click)="changeTypeCategorie(3)"
            />
          </span>
          <span class="ms-5">
            <span class="fs-6 fw-bolder mb-1 d-block">Subcategoria</span>
            <small>Tercer nivel</small>
          </span>
        </label>
      </div>
    </div>
    <div class="row mb-6">
      <div class="col-lg-4 fv-row fv-plugins-icon-container">
        <label class="fw-semibold fs-6 py-2 required">Nombre</label>
        <input
          type="text"
          name="name"
          [(ngModel)]="name"
          class="form-control form-control-lg form-control-solid"
          placeholder="Por ejemplo: Funko"
          spellcheck="false"
          data-ms-editor="true"
        />
      </div>
      <div class="col-lg-4 fv-row fv-plugins-icon-container">
        <label class="fw-semibold fs-6 py-2">Icono: ( {{type_categorie === 1 ? '*' : 'Opcional'}} )</label>
        <input
          type="text"
          name="icon"
          [(ngModel)]="icon"
          class="form-control form-control-lg form-control-solid"
          placeholder="Por ejemplo: Funko"
          spellcheck="false"
          data-ms-editor="true"
        />
      </div>
    </div>
    <div class="row mb-6">
      <div class="col-lg-6 col-md-6 col-sm-12 my-2">
        <label class="form-label">Subir Imagen: ( {{type_categorie == 1 ? '*' : 'Opcional'}} )</label>
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            id="customFile"
            accept=".jpeg, .bmp, .png, .jpg, .gif, .webp"
            (change)="processFile($event)"
          />
          <label class="custom-file-label" for="customFile"
            >Seleccionar Archivo</label
          >
        </div>
        <div class="img py-6">
          <img
            [src]="imagen_previsualizacion"
            width="200"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-4 fv-row fv-plugins-icon-container">
        <label class="fw-semibold fs-6 py-2 required">Posicion</label>
        <input
          type="number"
          name="position"
          [(ngModel)]="position"
          class="form-control form-control-lg form-control-solid"
          placeholder="Por ejemplo: 4"
          spellcheck="false"
          data-ms-editor="true"
        />
      </div>
    </div>
    <div class="row mb-6" *ngIf="type_categorie !== 1">
      <div class="col-lg-6 col-md-6 col-sm-12 my-2" *ngIf="type_categorie === 2">
        <label class="fw-semibold fs-6 py-2 required">Departamento: (Primer Nivel)</label>
        <select
          name="departament"
          class="form-control form-select-solid fw-bolder"
          placeholder="Seleccionar Departamento"
          [(ngModel)]="categorie_second_id"
        >
        <option value="">Select</option>
        <ng-container *ngFor="let item of categorie_first">
          <option [value]="item.id">{{item.name}}</option>
        </ng-container>

        </select>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 my-2" *ngIf="type_categorie === 3">
        <label class="fw-semibold fs-6 py-2 required">Departamento: (Primer Nivel)</label>
        <select
          name="departament"
          class="form-control form-select-solid fw-bolder"
          placeholder="Seleccionar Departamento"
          [(ngModel)]="categorie_third_id"
          (change)="changeDepartamento()"
        >
        <option value="">Select</option>
        <ng-container *ngFor="let item of categorie_first">
          <option [value]="item.id">{{item.name}}</option>
        </ng-container>
        </select>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 my-2" *ngIf="type_categorie === 3">
        <label class="fw-semibold fs-6 py-2 required">Categoria: (Segundo nivel)</label>
        <select
          name="categorie"
          class="form-control form-select-solid fw-bolder"
          placeholder="Seleccionar categoria"
          [(ngModel)]="categorie_second_id"
        >
        <option value="">Select</option>
        <ng-container *ngFor="let item of categorie_seconds_backups">
          <option [value]="item.id">{{item.name}}</option>
        </ng-container>
        </select>
      </div>
    </div>
    <div class="row mb-6">
      <div class="col-3">
        <button class="btn btn-primary" (click)="save()">Guardar</button>
      </div>
    </div>
  </div>
</div>
